.woocommerce {
  form {
    &.checkout_coupon,
    &.login,
    &.register {
      border: none;
      padding: 0;
    }
  }

  button[type="submit"] {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: 1px solid rgba(35, 35, 35, .2);
    border-radius: 3px;
    padding: 17px;
    font-weight: 300;
  }
}