$grid-breakpoints: (
  xs: 0,
  sm: 410px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

@import "./node_modules/bootstrap/scss/mixins/breakpoints";

.woocommerce-MyAccount-navigation {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.payment_method_fondy {
  img {
    height: 35px;
    @include media-breakpoint-up(lg) {
      height: 50px;
    }
  }
}
