//@import "01-settings/file-header";

/**
 * SETTINGS
 * File-header..........The file header for the themes style.css file.
 * Fonts................Any font files, if the project needs specific fonts.
 * Global...............Project-specific, globally available variables.
 *
 * TOOLS
 * Functions............Global functions.
 * Mixins...............Global mixins.
 *
 * GENERIC
 * Normalize.css........Normalise browser defaults.
 * Breakpoints..........Mixins and variables for responsive styles
 * Vertical-margins.....Vertical spacing for the main components.
 * Reset................Reset specific elements to make them easier to style in other contexts.
 * Clearings............Clearings for the main components.
 *
 * ELEMENTS
 * Blockquote...........Default blockquote.
 * Forms................Element-level form styling.
 * Headings.............H1–H6
 * Links................Default links.
 * Lists................Default lists.
 * Media................Images, Figure, Figcaption, Embed, iFrame, Objects, Video.
 *
 * BLOCKS
 * Audio................Specific styles for the audio block.
 * Button...............Specific styles for the button block.
 * Code.................Specific styles for the code block.
 * Columns..............Specific styles for the columns block.
 * Cover................Specific styles for the cover block.
 * File.................Specific styles for the file block.
 * Gallery..............Specific styles for the gallery block.
 * Group................Specific styles for the group block.
 * Heading..............Specific styles for the heading block.
 * Image................Specific styles for the image block.
 * Latest comments......Specific styles for the latest comments block.
 * Latest posts.........Specific styles for the latest posts block.
 * Legacy...............Specific styles for the legacy gallery.
 * List.................Specific styles for the list block.
 * Media text...........Specific styles for the media and text block.
 * Navigation...........Specific styles for the navigation block.
 * Paragraph............Specific styles for the paragraph block.
 * Pullquote............Specific styles for the pullquote block.
 * Quote................Specific styles for the quote block.
 * Search...............Specific styles for the search block.
 * Separator............Specific styles for the separator block.
 * Spacer...............Specific styles for the spacer block.
 * Table................Specific styles for the table block.
 * Verse................Specific styles for the verse block.
 * Video................Specific styles for the video block.
 * Utilities............Block alignments.
 *
 * COMPONENTS
 * Header...............Header styles.
 * Footer...............Footer styles.
 * Comments.............Comment styles.
 * Archives.............Archive styles.
 * 404..................404 styles.
 * Search...............Search styles.
 * Navigation...........Navigation styles.
 * Footer Navigation....Footer Navigation styles.
 * Pagination...........Pagination styles.
 * Single...............Single page and post styles.
 * Posts and pages......Misc, sticky post styles.
 * Entry................Entry, author biography.
 * Widget...............Widget styles.
 * Editor...............Editor styles.
 *
 * UTILITIES
 * A11y.................Screen reader text, prefers reduced motion etc.
 * Color Palette........Classes for the color palette colors.
 * Editor Font Sizes....Editor Font Sizes.
 * Measure..............The width of a line of text, in characters.
 */
// Print................Print styles
/* Categories 01 to 03 are the basics. */

$grid-breakpoints: (
  xs: 0,
  sm: 410px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/mixins";

@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/flatpickr/dist/flatpickr.min.css";

/** GLOBAL **/
@import "./assets/sass/richtime/01-settings/breakpoints";
@import "richtime/01-settings/global";

/** LIBS **/
@import "richtime/override/hamburger-settings";
@import "./node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "./node_modules/slick-carousel/slick/slick.css";
@import "./node_modules/slick-carousel/slick/slick-theme.css";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";

/** Richtime settings **/
@import "richtime/01-settings/fonts";
@import "richtime/01-settings/elements";
@import "richtime/02-html-elements/buttons";
@import "richtime/02-html-elements/language-switcher";
@import "richtime/02-html-elements/breadcrumbs";
@import "richtime/02-html-elements/filter";
@import "richtime/03-components/header";
@import "richtime/03-components/footer";
@import "richtime/03-components/carousel";
@import "richtime/03-components/page";
@import "richtime/03-components/front-page";
@import "richtime/03-components/search";
@import "richtime/woocommerce/product-preview";
@import "richtime/woocommerce/product";
@import "richtime/woocommerce/forms";
@import "richtime/woocommerce/my-account";
@import "style-dark-mode";

.menu-terms {
  position: relative;
  &__list {
    width: 400px;
    li {
      &:hover {
        color: #ff0000;
        .menu-terms__term-image {
          display: block;
        }
      }
    }
  }
  &__term-image {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
  }
}

.image-block {
  width: 200px;
  height: 400px;
}

#wpb_wiz_gallery {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
